---
import Layout from "../layouts/Layout.astro";
---

<Layout title=" P煤blico - Home">
  <main class="max-w-xl mx-auto py-12">
    <h1 class="text-3xl font-bold">App para acortar URLs</h1>
    <p>
      Esta es una aplicaci贸n para acortar URLs s贸lo para usuarios autenticados.
    </p>

    <div class="mt-12">
      <button class="bg-blue-500 text-white px-4 py-2 rounded">Iniciar sesi贸n</button>
    </div>

    <p class="mt-12"
    >Si ya has iniciado sesi贸n, entra a tu <a class="underline text-sky-300" href="/urls">panel de URLs.</a></p>
  </main>
</Layout>
