---
import Layout from "../layouts/Layout.astro";
---

<Layout title="🔐 Privado - Tus urls privadas">
    <main class="max-w-xl mx-auto py-12">
        <h1 class="text-3xl font-bold">Tus urls personales</h1>
        <p class="mt-12">
            Esta página está protegida y sólo un usuario registrado lo puede ver
        </p>
        <ul>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </main>
</Layout>
