---
import { getSession } from "auth-astro/server";

const session = await getSession(Astro.request);
console.log(session);
---

<header class="bg-blue-600 text-white shadow-lg">
  <div class="container mx-auto flex items-center justify-between p-4">
    <div class="flex items-center space-x-4">
      {session ? (
        <p class="text-lg font-semibold">Welcome, {session.user?.name}</p>
      ) : (
        <p class="text-lg font-semibold">Not logged in</p>
      )}
    </div>

    <div class="flex space-x-4">
      <button
        id="login"
        class="bg-white text-blue-600 px-4 py-2 rounded-lg hover:bg-blue-50 transition duration-300"
      >
        Login
      </button>
      <button
        id="logout"
        class="bg-red-500 text-white px-4 py-2 rounded-lg hover:bg-red-600 transition duration-300"
      >
        Logout
      </button>
    </div>
  </div>
</header>

<script>
  const { signIn, signOut } = await import("auth-astro/client");

  const login = document.querySelector("#login") as HTMLButtonElement;
  if (login) {
    login.onclick = () => signIn("google");
  }

  const logout = document.querySelector("#logout") as HTMLButtonElement;
  if (logout) {
    logout.onclick = () => signOut();
  }
</script>